body {
    background-color: indianred;
    font-family: 'Dancing Script', cursive;
}
.header_div {
    background-color: rgb(230, 144, 107);
    color: bisque;
}
.header_div {
    font-family: 'Overpass', sans-serif;
    color: bisque;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Overpass', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: wheat;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(230, 144, 107);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
